extends layout

block content  
  != postContents
   a(href=postPrev) Previous
      != postsContents 
     &nbsp; &nbsp; &nbsp; &nbsp;
   a(href=postNex) Next
      != postsContents
   p 
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   a(href='/') Home